<style>
    .register{
        display: flex;
        justify-content: center;
       
    }
    form{
        border: 1px solid black;
        padding:0px 20px 20px 20px;
        width:600px;
        border-radius: 10px;
        margin:50px 0px 0px 90px;
        background-color: antiquewhite;
        
    }
</style>

<div class="container register">
    
    <div class="col-md-8 foorm1">
        <form> 
            <h3>REGISTER</h3>
        <div class="form-group">
            <label>Enter Your Email</label>
            <input class="form-control" type="email" placeholder="Enter Your Email" ng-model="register.user.email">
        </div>
        <div class="form-group">
            <label>Enter Your Password</label>
            <input class="form-control" type="password" placeholder="Enter Your Password" ng-model="register.user.password">
        </div>
        <div class="form-group">
            <label>Enter Your Name</label>
            <input class="form-control" type="text" placeholder="Enter Your Name" ng-model="register.user.name">
        </div>
        <div class="form-group">
            <label>Enter Your Age</label>
            <input class="form-control" type="number" placeholder="Enter Your Age" ng-model="register.user.age">
        </div>
        <div class="form-group">
            <label>Enter Your Role</label>
            <input class="form-control" type="text" placeholder="Enter Your Role" ng-model="register.user.role" >
        </div>
        <button class="btn btn-primary" type="submit" ng-click="register.register()">REGISTER</Button></br>
           Already Registered?   <a href="#!signin">SignIn</a>
    </form>
    </div>
</div> 
